body{
    background-color: rgb(85, 34, 109); 
    margin: 0;
    font-family: 'Montserrat';
}

.container{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 241px;
    margin-top: 70px;
}

.title{
    color: white;
    font-size: 43px;
    display: inline;
}

.tic{
   color: rgb(252, 115, 90);
}

.tac{
   color: rgb(63, 240, 240);
}

.toe{
    color: yellow;
}

.grid{
    width: 80px;
    height: 70px;
    border: solid 0.5px rgb(61, 60, 60);
    float: left;
    font-size: 55px;
    font-family: 'Montserrat';
    cursor: pointer;
}

.grid:hover{
    background-color: yellow;
}

.btnPlayAgain{
    margin-top: 35px;
    background-color: yellow;
    border: none;
    color: rgb(26, 24, 24);
    font-size: 15px;
    padding: 10px 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.btnPlayAgain:hover{
    background-color: rgb(226, 197, 31);
}

h3{
    padding: 10px;
    color: white;
}

input{
    padding: 9px 4px;
    width: 96%;
    margin: 3px 0;
    border: none;
}

form{
    margin-top: 50px;
}

.winner{
    color: rgb(63, 240, 240);
}

.nextPlayer{
    color: yellow;
    font-size: 17px;
}